﻿
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>


    <style>

        #spam {
            background-color: lightgray;
            border-radius: 5px;
            margin: auto;
            width: 85%;
            cursor: not-allowed;
        }

        h1 {
            padding-top: 30px;
            font-size: 60px;
            font-family: Arial;
            text-align: center;
            padding-bottom: 20px;
        }

        spam {
            color: red;
            text-decoration: none;
            cursor: not-allowed;
        }



        small {
            font-family: Arial;
            text-align: center;
            word-spacing: -1px;
            font-size: 10px;
            font-weight: normal;
            color: gray;
        }
    </style>

    <div id="spam">
        <h1><spam>X</spam> Acceso denegado</h1>
    </div>
</body>
</html>
